h1{
    font-size: xx-large;
    color:rgb(138, 38, 38);
}
*{
    border: solid
    }
    .bgcl{
        background-color: rgb(68, 105, 138);
        display:flex;
        flex-direction:  row ;
        justify-content:  flex-end;

    }
    .grid{
display:flex;
flex-wrap: wrap;
justify-content: space-between;




    }
    body{

    }